*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#eaf8ff;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

#animalList{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:12px;
}

.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
    cursor:pointer;
    padding:12px;
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.info{
    padding:15px;
    text-align:center;
}

.emoji{
    font-size:60px;
}

.name{
    font-size:20px;
    font-weight:bold;
    margin-top:8px;
}
#backBtn{

margin:15px;

padding:10px 18px;

font-size:18px;

border:none;

border-radius:12px;

background:#4CAF50;

color:white;

}

.swiper{

height:80vh;

}

.swiper-slide{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    background:#000;
}

.swiper-slide img{
    max-width:100%;
    max-height:100%;
    object-fit:contain;
}