*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,sans-serif;

    background:#dff6ff;

    padding:15px;

}

h1{

    text-align:center;

    margin-bottom:15px;

}

#randomBtn{

    width:100%;

    padding:15px;

    font-size:22px;

    border:none;

    border-radius:20px;

    background:#ffcc00;

    margin-bottom:15px;

}

#animalList{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:12px;

}

.card{

    background:white;

    border-radius:20px;

    padding:18px;

    text-align:center;

    box-shadow:0 4px 10px rgba(0,0,0,.15);

}

.card:active{

    transform:scale(.96);

}

.emoji{

    font-size:60px;

}

.name{

    margin-top:10px;

    font-size:20px;

    font-weight:bold;

}
.thumb{

    width:100%;

    height:110px;

    object-fit:cover;

    border-radius:15px;

    margin-top:10px;

}

.card{

    transition:.2s;

}

.card:hover{

    transform:scale(1.03);

}
#backBtn{
    margin-bottom:15px;
    padding:12px 20px;
    font-size:18px;
    border:none;
    border-radius:12px;
    background:#4CAF50;
    color:white;
}

.swiper{
    width:100%;
    height:80vh;
}

.swiper-slide{
    display:flex;
    justify-content:center;
    align-items:center;
}

.swiper-slide img{
    max-width:95%;
    max-height:75vh;
    width:auto;
    height:auto;
    object-fit:contain;
    border-radius:20px;
}

#speakBtn{
    display:block;
    width:90%;
    margin:10px auto 20px;
    padding:14px;
    font-size:22px;
    border:none;
    border-radius:16px;
    background:#4CAF50;
    color:white;
}